<!DOCTYPE html>
{% load static %}

<html dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#135b84">
    <meta name="theme-color" content="#ffffff">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Plugin -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugin/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/icons/iconly/index.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/icons/remix-icon/index.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Base -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/base/typography.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/base/base.css' %}">

    <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/theme/colors-dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/theme/theme-dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/custom-rtl.css' %}">

    <!-- Layouts -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/layouts/sider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/layouts/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/layouts/page-content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.css' %}">
    <!-- Customizer -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/layouts/customizer.css' %}">

    <!-- Charts -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugin/apex-charts.css' %}">

    <!-- Pages -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/dashboard-analytics.css' %}">

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <main class="hp-bg-color-dark-90 d-flex min-vh-100">
        {% include 'backend/include/sidebar.html' %}

        <div class="hp-main-layout">
            <header>
                <div class="row w-100 m-0">
                    <div class="col px-0">
                        <div class="row w-100 align-items-center justify-content-between position-relative">
                            <div class="col w-auto hp-flex-none hp-mobile-sidebar-button me-24 px-0" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
                                <button type="button" class="btn btn-text btn-icon-only">
                                    <i class="ri-menu-fill hp-text-color-black-80 hp-text-color-dark-30 lh-1" style="font-size: 24px;"></i>
                                </button>
                            </div>
            
                            <div class="hp-header-text-info col col-lg-14 col-xl-16 hp-header-start-text d-flex align-items-center hp-horizontal-none">
                                <p style="text-transform: capitalize;" id="greeting" class="hp-header-start-text-item hp-input-label fw-normal hp-text-color-black-100 hp-text-color-dark-0 ms-12 mb-0 lh-1 d-flex align-items-center">
                                    Good Morning Admin
                                </p>
                            </div>
            
                            <div class="hp-header-search d-none col">
                                <input type="text" class="form-control" placeholder="Search..." id="header-search" autocomplete="off">
                            </div>
            
                            <div class="col hp-flex-none w-auto pe-0">
                                <div class="row align-items-center justify-content-end">
                                    <div class="hover-dropdown-fade w-auto px-0 ms-6 position-relative">
                                        <div class="hp-cursor-pointer rounded-4 border hp-border-color-dark-80">
                                            <div class="rounded-3 overflow-hidden m-4 d-flex">
                                                <div class="avatar-item hp-bg-info-4 d-flex" style="width: 32px; height: 32px;">
                                                    <img src="{% static 'images/user.png' %}" alt="User Avatar">
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="hp-header-profile-menu dropdown-fade position-absolute pt-18" style="top: 100%; width: 260px;">
                                            <div class="rounded hp-bg-black-0 hp-bg-dark-100 px-18 py-24 pt-0">
                                                <div class="row">
                                                    <div class="col-12 mt-24">
                                                        <a class="hp-p1-body fw-medium" href="{% url 'logout' %}">Logout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>



        <div class="offcanvas offcanvas-start hp-mobile-sidebar bg-black-20 hp-bg-dark-90" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel" style="width: 256px;">
            <div class="offcanvas-header justify-content-between align-items-center ms-16 me-8 mt-16 p-0">
                <div class="w-auto px-0">
                    <div class="hp-header-logo d-flex align-items-center">
                        <a href="{% url 'dashboard' %}" class="position-relative">
                            <img src="{% static 'images/stafuel-logo.png' %}" style="width: 100px;" alt="" class="log__img">
                        </a>
                    </div>
                </div>

                <div class="w-auto px-0 hp-sidebar-collapse-button hp-sidebar-hidden" data-bs-dismiss="offcanvas" aria-label="Close">
                    <button type="button" class="btn btn-text btn-icon-only bg-transparent">
                        <i class="ri-close-fill lh-1 hp-text-color-black-80" style="font-size: 24px;"></i>
                    </button>
                </div>
            </div>

            <div class="hp-sidebar hp-bg-color-black-20 hp-bg-color-dark-90 border-end border-black-40 hp-border-color-dark-80">
                <div class="hp-sidebar-container">
                    <div class="hp-sidebar-header-menu">
                        <div class="row justify-content-between align-items-end mx-0">
                            <div class="w-auto px-0 hp-sidebar-collapse-button hp-sidebar-visible">
                                <div class="hp-cursor-pointer">
                                    <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.91102 1.73796L0.868979 4.78L0 3.91102L3.91102 0L7.82204 3.91102L6.95306 4.78L3.91102 1.73796Z" fill="#B2BEC3"></path>
                                        <path d="M3.91125 12.0433L6.95329 9.00125L7.82227 9.87023L3.91125 13.7812L0.000224113 9.87023L0.869203 9.00125L3.91125 12.0433Z" fill="#B2BEC3"></path>
                                    </svg>
                                </div>
                            </div>

                            <div class="w-auto px-0">
                                <div class="hp-header-logo d-flex align-items-center">
                                    <a href="{% url 'dashboard' %}" class="position-relative">
                                        <img src="{% static 'images/stafuel-logo.png' %}" style="width: 110px;" alt="" class="logo__img">
                                    </a>
                                </div>
                            </div>

                            <div class="w-auto px-0 hp-sidebar-collapse-button hp-sidebar-hidden">
                                <div class="hp-cursor-pointer mb-5">
                                    <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.91102 1.73796L0.868979 4.78L0 3.91102L3.91102 0L7.82204 3.91102L6.95306 4.78L3.91102 1.73796Z" fill="#B2BEC3"></path>
                                        <path d="M3.91125 12.0433L6.95329 9.00125L7.82227 9.87023L3.91125 13.7812L0.000224113 9.87023L0.869203 9.00125L3.91125 12.0433Z" fill="#B2BEC3"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <ul>
                            <li>
                                <div class="menu-title">DASHBOARDS</div>

                                <ul>
                                    <li class="menu__nav dashboard">
                                        <a href="{% url 'dashboard' %}">
                                            <div class="tooltip-item in-active" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="Analytics" aria-label="Analytics"></div>
            
                                            <span>
                                                <span class="submenu-item-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
                                                        <path d="M8.97 22h6c5 0 7-2 7-7V9c0-5-2-7-7-7h-6c-5 0-7 2-7 7v6c0 5 2 7 7 7Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="m1.97 12.7 6-.02c.75 0 1.59.57 1.87 1.27l1.14 2.88c.26.65.67.65.93 0l2.29-5.81c.22-.56.63-.58.91-.05l1.04 1.97c.31.59 1.11 1.07 1.77 1.07h4.06" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg>
                                                </span>
            
                                                <span>Dashboard</span>
                                            </span>
                                        </a>
                                    </li>
            
                                    <li class="menu__nav department">
                                        <a href="javascript:;" class="submenu-item">
                                            <span>
                                                <span class="submenu-item-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
                                                        <path d="M4.26 11.02v4.97c0 1.82 0 1.82 1.72 2.98l4.73 2.73c.71.41 1.87.41 2.58 0l4.73-2.73c1.72-1.16 1.72-1.16 1.72-2.98v-4.97c0-1.82 0-1.82-1.72-2.98l-4.73-2.73c-.71-.41-1.87-.41-2.58 0L5.98 8.04C4.26 9.2 4.26 9.2 4.26 11.02Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M17.5 7.63V5c0-2-1-3-3-3h-5c-2 0-3 1-3 3v2.56M12.63 10.99l.57.89c.09.14.29.28.44.32l1.02.26c.63.16.8.7.39 1.2l-.67.81c-.1.13-.18.36-.17.52l.06 1.05c.04.65-.42.98-1.02.74l-.98-.39a.863.863 0 0 0-.55 0l-.98.39c-.6.24-1.06-.1-1.02-.74l.06-1.05c.01-.16-.07-.4-.17-.52l-.67-.81c-.41-.5-.24-1.04.39-1.2l1.02-.26c.16-.04.36-.19.44-.32l.57-.89c.36-.54.92-.54 1.27 0Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg>
                                                </span>
            
                                                <span>Department</span>
                                            </span>
            
                                            <div class="menu-arrow"></div>
                                        </a>
            
                                        <ul class="submenu-children" data-level="1">
                                            <li>
                                                <a href="{% url 'departments' %}">
                                                    <span>View Departments</span>
                                                </a>
                                            </li>
            
                                            <li>
                                                <a href="{% url 'department_create' %}">
                                                    <span>Add New Department</span>
                                                </a>
                                            </li>
            
                                            
                                        </ul>
                                    </li>
                                    <li class="menu__nav jobs">
                                        <a href="javascript:;" class="submenu-item">
                                            <span>
                                                <span class="submenu-item-icon">
                                                    <img src="{% static 'images/jobs-icon.png' %}" alt="" class="sidebar__icon">
                                                </span>
            
                                                <span>Jobs</span>
                                            </span>
            
                                            <div class="menu-arrow"></div>
                                        </a>
            
                                        <ul class="submenu-children" data-level="1">
                                            <li>
                                                <a href="{% url 'job-list' %}">
                                                    <span>View Jobs</span>
                                                </a>
                                            </li>
            
                                            <li>
                                                <a href="{% url 'job-create' %}">
                                                    <span>Add New Job</span>
                                                </a>
                                            </li>
            
                                            
                                        </ul>
                                    </li>
            
                                    <li class="menu__nav applications">
                                        <a href="{% url 'application-list' %}">
                                            <div class="tooltip-item in-active" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="Analytics" aria-label="Analytics"></div>
            
                                            <span>
                                                <span class="submenu-item-icon">
                                                    <img src="{% static 'images/application-icon.png' %}" alt="" class="sidebar__icon">
                                                </span>
            
                                                <span>Applications</span>
                                            </span>
                                        </a>
                                    </li>
                                    
                                    <li class="menu__nav resumes">
                                        <a href="{% url 'resume-list' %}">
                                            <div class="tooltip-item in-active" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="Analytics" aria-label="Analytics"></div>
            
                                            <span>
                                                <span class="submenu-item-icon">
                                                    <img src="{% static 'images/resume-icon.png' %}" alt="" class="sidebar__icon">
                                                </span>
            
                                                <span>Resumes</span>
                                            </span>
                                        </a>
                                    </li>
                                    
                                    
                                    <li class="menu__nav messages">
                                        <a href="{% url 'message-list' %}">
                                            <div class="tooltip-item in-active" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="Analytics" aria-label="Analytics"></div>
            
                                            <span>
                                                <span class="submenu-item-icon">
                                                    <img src="{% static 'images/message-icon.png' %}" alt="" class="sidebar__icon">
                                                </span>
            
                                                <span>Messages</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            
            

            <div class="hp-main-layout-content">
                {% block content %}{% endblock %}
            </div>

            <footer class="w-100 py-18 px-16 py-sm-24 px-sm-32 hp-bg-color-black-20 hp-bg-color-dark-90">
                <div class="row">
                    <div class="col-12">
                        <p class="hp-badge-text fw-semibold mb-0 text-center text-sm-start hp-text-color-dark-30">
                            COPYRIGHT ©2024 Stafuel, All rights Reserved | Designed by 
                            <a href="https://thinkb.agency">thinkB</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    {% load static %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% if messages %}
                {% for message in messages %}
                    Swal.fire({
                        title: "{{ message.tags|capfirst }}",
                        text: "{{ message }}",
                        icon: "{{ message.tags }}",
                        confirmButtonText: "OK"
                    });
                {% endfor %}
            {% endif %}
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var greetingElement = document.getElementById('greeting');
            var now = new Date();
            var hours = now.getHours();
            var greeting;

            if (hours < 12) {
                greeting = "Good Morning";
            } else if (hours < 18) {
                greeting = "Good Afternoon";
            } else {
                greeting = "Good Evening";
            }

            greetingElement.textContent = greeting + ' {{request.user.username}}';
        });
    </script>

    <!-- Plugin -->
    <script src="{% static 'app-assets/js/plugin/jquery.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/jquery.mask.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/autocomplete.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/moment.min.js' %}"></script>

    <!-- Layouts -->
    <script src="{% static 'app-assets/js/layouts/header-search.js' %}"></script>
    <script src="{% static 'app-assets/js/layouts/sider.js' %}"></script>
    <script src="{% static 'app-assets/js/components/input-number.js' %}"></script>

    <!-- Base -->
    <script src="{% static 'app-assets/js/base/index.js' %}"></script>
    <!-- Customizer -->
    <script src="{% static 'app-assets/js/customizer.js' %}"></script>

    <!-- Charts -->
    <script src="{% static 'app-assets/js/plugin/apexcharts.min.js' %}"></script>
    <script src="{% static 'app-assets/js/charts/apex-chart.js' %}"></script>

    <!-- Cards -->
    <script src="{% static 'app-assets/js/cards/card-advance.js' %}"></script>
    <script src="{% static 'app-assets/js/cards/card-analytic.js' %}"></script>
    <script src="{% static 'app-assets/js/cards/card-statistic.js' %}"></script>

    <!-- Pages -->
    <script src="{% static 'app-assets/js/pages/dashboard-ecommerce.js' %}"></script>

    <!-- Custom -->
    <script src="{% static 'assets/js/main.js' %}"></script>



    {% block script %}{% endblock %}
</body>
</html>
