{% extends 'backend/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}


{% block content %}


<div class="row mb-32 gy-32">
    <div class="col-12">
        <div class="row align-items-center justify-content-between g-24">
            <div class="col-12 col-md-6">
                <h3 style="text-transform: capitalize;">Welcome back, {{request.user.username}} 👋</h3>
                <p class="hp-p1-body mb-0">Your current status and analytics are here</p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row g-32 mb-32">
            <!-- Messages Card -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-16">
                            <div class="col-6 hp-flex-none w-auto">
                                <div class="avatar-item d-flex align-items-center justify-content-center avatar-lg bg-primary-4 hp-bg-color-dark-primary rounded-circle">
                                    <i class="fa-regular fa-comment text-warning" style="font-size: 24px;"></i>
                                </div>
                            </div>

                            <div class="col">
                                <h3 class="mb-4 mt-8">
                                    {{ data.message.current_month_count }}
                                    <span class="hp-badge-text ms-8 text-primary hp-text-color-dark-primary-2">
                                        {{ data.message.percentage_change|floatformat:2 }}%
                                    </span>
                                </h3>
                                <p class="hp-p1-body mb-0 text-black-80 hp-text-color-dark-30">Total Messages</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Resumes Card -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-16">
                            <div class="col-6 hp-flex-none w-auto">
                                <div class="avatar-item d-flex align-items-center justify-content-center avatar-lg bg-primary-4 hp-bg-color-dark-primary rounded-circle">
                                    <i class="fa-regular fa-file text-secondary" style="font-size: 24px;"></i>
                                </div>
                            </div>

                            <div class="col">
                                <h3 class="mb-4 mt-8">
                                    {{ data.resume.current_month_count }}
                                    <span class="hp-badge-text ms-8 text-primary hp-text-color-dark-primary-2">
                                        {{ data.resume.percentage_change|floatformat:2 }}%
                                    </span>
                                </h3>
                                <p class="hp-p1-body mb-0 text-black-80 hp-text-color-dark-30">Total Resumes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Applications Card -->
            <div class="col-12 col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-16">
                            <div class="col-6 hp-flex-none w-auto">
                                <div class="avatar-item d-flex align-items-center justify-content-center avatar-lg bg-primary-4 hp-bg-color-dark-primary rounded-circle">
                                    <i class="fa-brands fa-wpforms text-primary hp-text-color-dark-primary-2" style="font-size: 24px;"></i>
                                </div>
                            </div>

                            <div class="col">
                                <h3 class="mb-4 mt-8">
                                    {{ data.application.current_month_count }}
                                    <span class="hp-badge-text ms-8 text-primary hp-text-color-dark-primary-2">
                                        {{ data.application.percentage_change|floatformat:2 }}%
                                    </span>
                                </h3>
                                <p class="hp-p1-body mb-0 text-black-80 hp-text-color-dark-30">Total Applications</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row g-32">
            <div class="col-12 col-lg-12">
                <div class="row g-32">
                    <div class="col-12">
                        <div class="card hp-project-ecommerce-table-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-between mb-32">
                                            <h5 class="mb-0">Latest Resume Uploads</h5>
                                            <a href="{% url 'resume-list' %}">
                                                <p class="hp-p1-body mb-0 fw-medium text-black-100 hp-text-color-dark-0">View all uploads</p>
                                            </a>
                                        </div>

                                        <div class="table-responsive">

                                            <!-- Display Table -->
                                            <table class="table align-middle mb-0">
                                                <thead>
                                                    <tr class="">
                                                        <th>
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black-60 hp-text-color-dark-50 text-uppercase">Date</span>
                                                        </th>
                                                        <th>
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black-60 hp-text-color-dark-50 text-uppercase">Full Name</span>
                                                        </th>
                                                        <th>
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black-60 hp-text-color-dark-50 text-uppercase">Email</span>
                                                        </th>
                                                        <th>
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black-60 hp-text-color-dark-50 text-uppercase">Mobile</span>
                                                        </th>
                                                        <th>
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black-60 hp-text-color-dark-50 text-uppercase">View Resume</span>
                                                        </th>
                                                        <th class="text-center">
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black-60 hp-text-color-dark-50 text-uppercase">Action</span>
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for resume in data.resume.objects %}
                                                    <tr>
                                                        <td class="ps-0">
                                                            <span class="mb-0 fw-medium text-black-100 hp-text-color-dark-0">{{ resume.created_at|date:"d F Y" }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="mb-0 text-black-80 hp-text-color-dark-30">{{ resume.name }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="mb-0 text-black-80 hp-text-color-dark-30">{{ resume.email }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="mb-0 text-black-80 hp-text-color-dark-30">{{ resume.number }}</span>
                                                        </td>
                                                        <td>
                                                            <a href="{{ resume.resume.url }}" target="_blank" class="badge bg-success-4 hp-bg-dark-success text-success border-success">View Resume</a>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'view_resume' resume.slug %}">
                                                                <span class="d-block text-black-60 hp-text-color-dark-50 text-center">
                                                                    <i class="fa-regular fa-eye"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>

                                            
                                            </table>

                                            <div class="empty_view {% if data.resume.objects %}d-none{% endif %}">
                                                <img src="{% static 'images/empty.jpg' %}" style="width: 30%" alt="">
                                                <h4 style="font-size: 15px; margin-top: 10px;">No Resume Upload Found</h4>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        

        </div>
    </div>
</div>



{% endblock %}



{% block script %}
    <script>
        document.querySelector('.dashboard').classList.add('active')
    </script>




{% endblock script %}
    