{% extends 'backend/base.html' %}
{% load static %}

{% block title %}Messages | Dashboard{% endblock %}

{% block content %}
<div class="row mb-32 gy-32">
    <div class="col-12">
        <div class="row align-items-center justify-content-between g-24">
            <div class="col-12 col-md-6">
                <h3>Messages</h3>
                <p class="hp-p1-body mb-0">Here is the list of all Messages</p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row g-32">
            <div class="col-12 col-lg-12">
                <div class="row g-32">
                    <div class="col-12">
                        <div class="card hp-project-ecommerce-table-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-between mb-32">
                                            <h5 class="mb-0">List of Messages</h5>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead>
                                                    <tr>
                                                        <th style="min-width: 180px;">
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black fw-bold hp-text-color-dark-50 text-uppercase">Name</span>
                                                        </th>
                                                        <th>
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black fw-bold hp-text-color-dark-50 text-uppercase">Email</span>
                                                        </th>
                                                        <th>
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black fw-bold hp-text-color-dark-50 text-uppercase">Mobile</span>
                                                        </th>
                                                        <th>
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black fw-bold hp-text-color-dark-50 text-uppercase">Subject</span>
                                                        </th>
                                                        <th class="">
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black fw-bold hp-text-color-dark-50 text-uppercase">Time</span>
                                                        </th>
                                                        <th class="">
                                                            <span class="hp-badge-size d-block pb-16 fw-normal text-black fw-bold hp-text-color-dark-50 text-uppercase">Action</span>
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for message in msgs %}
                                                        <tr>
                                                            <td class="ps-0">
                                                                <span class="mb-0 fw-medium text-black-100 hp-text-color-dark-0">{{message.name}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="mb-0 text-black-80 hp-text-color-dark-30">{{message.email}}</span>
                                                            </td>
                                                            
                                                            <td>
                                                                <span class="mb-0 text-black-80 hp-text-color-dark-30">{{message.number}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="mb-0 text-black-80 hp-text-color-dark-30">{{message.subject}}</span>
                                                            </td>
                                                            <td>
                                                                <span class="mb-0 text-black-80 hp-text-color-dark-30">{{ message.created_at|timesince }} ago</span>
                                                            </td>
                                                            <td>
                                                                <div class="d_flex_icons">

                                                                    <a href="{% url 'view_message' message.slug %}">
                                                                        <span class="fa-regular fa-eye"></span>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                            <div class="empty_view {% if msgs %}d-none{% endif %}">
                                                <img src="{% static 'images/empty.jpg' %}" alt="">
                                                <h4>No Messages Found</h4>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    document.querySelector('.messages').classList.add('active');
</script>
{% endblock script %}
