{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
  Contact | Stafuel
{% endblock title %}
  

{% block content %}

    <!--Page Title-->
    <section class="page-title">
        <div class="auto-container">
            <div class="title-outer">
                <h1>Contact Us</h1>
                <ul class="page-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Contact Section -->
    <section class="contact-section">
        <div class="auto-container">
            <!-- Contact Form -->
            <div class="contact-form default-form">
                <h3>Leave A Message</h3>
                <!--Contact Form-->
                <form method="post" action="{% url 'contact' %}" id="email-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-4">
                            <label>Your Name</label>
                            <input type="text" name="name" class="username" placeholder="Your Name*" required>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label>Your Mobile</label>
                            <input type="text" name="mobile" class="username" placeholder="Your Mobile*" required>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label>Your Email</label>
                            <input type="email" name="email" class="email" placeholder="Your Email*" required>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label>Subject</label>
                            <input type="text" name="subject" class="subject" placeholder="Subject *" required>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label>Your Message</label>
                            <textarea name="message" placeholder="Write your message..." required></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <button class="theme-btn btn-style-one" type="submit" id="submit" name="submit-form">Send Message</button>
                        </div>
                    </div>
                </form>
                
            </div>
            <!--End Contact Form -->
        </div>
    </section>
    <!-- Contact Section -->
{% endblock content %}
  


{% block script %}
    <script>
      document.querySelector('.contact__nav').classList.add('current')
      document.getElementById('email-form').addEventListener('submit', (e) => {
        const mobileInput = document.querySelector('input[name="mobile"]').value;
        const mobileRegex = /^\d{10}$/;

        if (!mobileRegex.test(mobileInput)) {
            e.preventDefault();
            Swal.fire({
                icon: 'error',
                title: 'Invalid Mobile Number',
                text: 'Please enter a valid 10-digit mobile number.'
            });
        } else {
            // If the mobile number is valid, submit the form
            document.getElementById('email-form').submit();
        }
    });
    </script>
{% endblock script %}