{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
  Jobs | Stafuel
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock head %}
    
{% block content %}
  
    <!--Page Title-->
    <section class="page-title style-two">
        <div class="auto-container">
            <!-- Job Search Form -->
            <div class="job-search-form">
                <form id="job-filter-form" method="get" action="#">
                    <div class="row">
                        <!-- Form Group -->
                        <div class="form-group col-lg-4 col-md-12 col-sm-12">
                            <span class="icon flaticon-search-1"></span>
                            <input type="text" name="q" placeholder="Job title, keywords, or company" value="{{ query }}">
                        </div>
                        <!-- Form Group -->
                        <div class="form-group col-lg-3 col-md-12 col-sm-12 location">
                            <span class="icon flaticon-map-locator"></span>
                            <input type="text" name="location" placeholder="City or postcode" value="{{ location }}">
                        </div>
                        <!-- Form Group -->
                        <div class="form-group col-lg-3 col-md-12 col-sm-12 location">
                            <span class="icon flaticon-briefcase"></span>
                            <select class="chosen-select" name="department">
                                <option value="">All Departments</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}" {% if department_id == department.id|stringformat:"s" %}selected{% endif %}>{{ department.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- Form Group -->
                        <div class="form-group col-lg-2 col-md-12 col-sm-12 text-right">
                            <button type="submit" class="theme-btn btn-style-one">Find Jobs</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Job Search Form -->
        </div>
    </section>
    <!--End Page Title-->

    <!-- Listing Section -->
    <section class="ls-section">
        <div class="auto-container">
            <div class="filters-backdrop"></div>
            <div class="row">
                <!-- Filters Column -->
                <div class="filters-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="filters-outer">
                            <button type="button" class="theme-btn close-filters">X</button>
                            <!-- Switchbox Outer -->
                            <div class="switchbox-outer">
                                <h4>Job type</h4>
                                <ul class="switchbox">
                                    <li>
                                        <label class="switch">
                                            <input type="radio" name="job_type" class="job_type" value="Freelance" {% if job_type == 'Freelance' %}checked{% endif %}>
                                            <span class="slider round"></span>
                                            <span class="title">Freelance</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="switch">
                                            <input type="radio" name="job_type" class="job_type" value="Full Time" {% if job_type == 'Full Time' %}checked{% endif %}>
                                            <span class="slider round"></span>
                                            <span class="title">Full Time</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="switch">
                                            <input type="radio" name="job_type" class="job_type" value="Internship" {% if job_type == 'Internship' %}checked{% endif %}>
                                            <span class="slider round"></span>
                                            <span class="title">Internship</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="switch">
                                            <input type="radio" name="job_type" class="job_type" value="Part Time" {% if job_type == 'Part Time' %}checked{% endif %}>
                                            <span class="slider round"></span>
                                            <span class="title">Part Time</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="switch">
                                            <input type="radio" name="job_type" class="job_type" value="Temporary" {% if job_type == 'Temporary' %}checked{% endif %}>
                                            <span class="slider round"></span>
                                            <span class="title">Temporary</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!-- Radio Buttons Outer -->
                            <div class="checkbox-outer">
                                <h4>Experience Level</h4>
                                <ul class="switchbox">
                                    <li>
                                        <label class="switch">
                                            <input type="radio" name="experience" value="0-1" {% if experience == '0-1' %}checked{% endif %}>
                                            <span class="slider round"></span>
                                            <span class="title">0-1 Year</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="switch">
                                            <input type="radio" name="experience" value="1-2" {% if experience == '1-2' %}checked{% endif %}>
                                            <span class="slider round"></span>
                                            <span class="title">1-2 Years</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="switch">
                                            <input type="radio" name="experience" value="2-3" {% if experience == '2-3' %}checked{% endif %}>
                                            <span class="slider round"></span>
                                            <span class="title">2-3 Years</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="switch">
                                            <input type="radio" name="experience" value="3-4" {% if experience == '3-4' %}checked{% endif %}>
                                            <span class="slider round"></span>
                                            <span class="title">3-4 Years</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="switch">
                                            <input type="radio" name="experience" value="5+" {% if experience == '5+' %}checked{% endif %}>
                                            <span class="slider round"></span>
                                            <span class="title">5+ Years</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="ls-outer">
                        <button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button>
                        <!-- ls Switcher -->
                        <div class="ls-switcher">
                            <div class="showing-result">
                                <div class="text">Showing <strong id="job-count">{{ jobs.count }}</strong> of <strong>{{ jobs.count }}</strong> jobs</div>
                            </div>
                        </div>
                        <!-- Job Block -->
                        <div id="job-list">
                            {% include 'frontend/include/job_list.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Listing Page Section -->
{% endblock content %}

{% block script %}

    <!-- Include jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include jQuery UI from CDN -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    
    <script>
      $(document).ready(function() {
        document.querySelector('.jobs__nav').classList.add('current');

        // Trigger updateJobs when job type or experience changes
        const jobTypeInputs = document.querySelectorAll('input[name="job_type"]');
        const experienceInputs = document.querySelectorAll('input[name="experience"]');

        jobTypeInputs.forEach(input => {
          input.addEventListener('change', function() {
            updateJobs();
          });
        });

        experienceInputs.forEach(input => {
          input.addEventListener('change', function() {
            updateJobs();
          });
        });

        function updateJobs() {
          $.ajax({
            url: "{% url 'filter_jobs' %}",
            data: {
              job_type: $('input[name="job_type"]:checked').val(),
              experience: $('input[name="experience"]:checked').val(),
              q: $('input[name="q"]').val(),
              location: $('input[name="location"]').val(),
              department: $('select[name="department"]').val()
            },
            success: function(data) {
              $('#job-list').html(data.html);
              $('#job-count').text(data.count); // Update job count
            },
            error: function(xhr, status, error) {
              console.error("AJAX request failed: " + status + ", " + error);
            }
          });
        }
      });
    </script>
{% endblock script %}
