{% load static %}
    <!-- Subscribe Section -->
    <section class="container px-md-5 px-3 subscribe-section at-home21" style="margin-top: 120px;">
      <div class="auto-container">
          <div class="outer-box wow fadeInUp">
              <div class="sec-title">
                  <h2 class="mb-3" style="color: white;">Subscribe Our Newsletter</h2>
                  <div style="color: white;">Advertise your jobs to millions of monthly users and search<br> 15.8 million CVs in our database.</div>
              </div>
              <div class="form-column">
                  <div class="subscribe-form">
                      <form method="post" action="#">
                          <div class="form-group">
                              <div class="response"></div>
                          </div>
                          <div class="form-group">
                              <input type="email" name="email" class="email bdrs120" value="" placeholder="Your e-mail" required>
                              <button type="button" id="subscribe-newslatters" class="theme-btn home21-style btn-style-one bg-dark bdrs120">Subscribe <i class="fal fa-long-arrow-right ms-3"></i></button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Subscribe Section -->

  <!-- Main Footer -->
  <footer class="main-footer alternate3">
      <div class="auto-container">
          <!--Widgets Section-->
          <div class="widgets-section">
              <div class="row">
                  <div class="big-column col-xl-4 col-lg-3 col-md-12">
                      <div class="footer-column about-widget">
                          <div class="logo"><a href="#"><img style="width: 185px;" src="{% static 'frontend/images/stafuel-logo.png' %}" alt=""></a></div>
                          <p class="phone-num"><span>Call us </span><a href="">+91 7382488318</a></p>
                          <p class="address">3D.No: 10-1-112/4, K.N.Road, Opp SBI bank Market Yard Branch, Tadepalligudem, West Godavari, Andhra Pradesh-534102. <br><a href="mailto:info@stafuel.in" class="email">info@stafuel.in</a></p>
                      </div>
                  </div>
                  <div class="big-column col-xl-8 col-lg-9 col-md-12">
                      <div class="row">
                          <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                              <div class="footer-widget links-widget">
                                  <h4 class="widget-title">Official Emails</h4>
                                  <div class="widget-content">
                                      <ul class="list">
                                          <li><a href="#">info@stafuel.in</a></li>
                                          <li><a href="#">info@stafuel.in</a></li>
                                          <li><a href="#">sainath@stafuel.in</a></li>
                                          <li><a href="#">nagendra@stafuel.in</a></li>
                                          <li><a href="#">jayanth@stafuel.in</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                              <div class="footer-widget links-widget">
                                  <h4 class="widget-title">Useful Links</h4>
                                  <div class="widget-content">
                                      <ul class="list">
                                          <li><a href="{% url 'home' %}">Home</a></li>
                                          <li><a href="{% url 'about' %}">About</a></li>
                                          <li><a href="{% url 'blogs' %}">Blogs</a></li>
                                          <li><a href="#">Contact</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                              <div class="footer-widget links-widget">
                                  <h4 class="widget-title">Categories</h4>
                                  <div class="widget-content">
                                      <ul class="list">
                                          <li><a href="{% url 'jobs' %}">Finance</a></li>
                                          <li><a href="{% url 'jobs' %}">Engineering</a></li>
                                          <li><a href="{% url 'jobs' %}">Logistics</a></li>
                                          <li><a href="{% url 'jobs' %}">Media & Advertising</a></li>
                                          <li><a href="{% url 'jobs' %}">Manufacturing</a></li>
                                          <li><a href="{% url 'jobs' %}">Telecom</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                              <div class="footer-widget links-widget">
                                  <h4 class="widget-title">Helpful Resources</h4>
                                  <div class="widget-content">
                                      <ul class="list">
                                          <li><a href="{% url 'jobs' %}">Automobile</a></li>
                                          <li><a href="{% url 'jobs' %}">Banking & Insurance</a></li>
                                          <li><a href="{% url 'jobs' %}">BPO</a></li>
                                          <li><a href="{% url 'jobs' %}">Chemical Industry</a></li>
                                          <li><a href="{% url 'jobs' %}">Hospitality</a></li>
                                          <li><a href="{% url 'jobs' %}">IT Services</a></li>
                                          <li><a href="{% url 'jobs' %}">Pharmaceuticals</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--Bottom-->
      <div class="footer-bottom">
          <div class="auto-container">
              <div class="outer-box">
                  <div class="copyright-text">© 2024 <a href="#">Stafuel</a>. All Right Reserved. | Designed by <a>thinkB</a></div>
                  <div class="social-links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <!-- Scroll To Top -->
      <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
  </footer>
  <!-- End Main Footer -->